
@{
    ViewData["Title"] = "MEBS LoginPage";
    Layout = "~/Views/Shared/Dashboard_layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 20%;
        }

            button:hover {
                opacity: 0.8;
            }

        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        /* Center the image and position the close button */
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }

      
        .lcontainer {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
        </style>

        </head>>


<body>
    <br></br>
    <br></br>
                       <div class="lcontainer">
                        <div class="row">
                        <label for="uname"><b>Employee Code</b></label>
                        <input type="text" id="employeecode"  name="uname" required>

                        <br>
                        <div>
                         <button type="submit" style="width:40%" onclick="loadDashBoard()" >Submit</button>
                    </div>
                        </div>
                        </div>
                     <script>
            function loadDashBoard() {
            var baselink = '@ViewData["baseurl"]';
            var domainurl =baselink + "MebsApp";
            var id = document.getElementById("employeecode").value;

            //var ecode = encrypt(id);
          //  var ecode = "33394d4233433277614d65557131644c4b3046486b7a6e62414866696149464c795844476545377a6d463759326a72363365322b494876696b7a4c2b665a6d55314655635a2b48304d7a644b565839743065723466673d3d&token=36696e3247414f6a7a624577375531484b61546958574468736637384f31657638526b4b4365616263734c72617a70694751756c63444f5652677469547a32714d4f7967497667755166744b4151365242663634774a5a58564f7a2f484c31393736625574426b4e524146546751674e7631717637337a314464664f6530356250306764614472374679435079575a5964696f6239414176797a453669396a4c4742566e3559486378565869456c6f4536743378584a6453694343484558626a414d386855587062596e523132566a56737a3036494252374c66372b3050632b45476759375378497631657a306f7530554a67754159745150474b6e534d496d61586b4e427a716373334956574d6c4f71554956476e446877702b4e734136507661646353786f5a30536d3750576a5437525773435a4b54414437507634426e744a6769535a622f454f49775a354446674d5a65534d4977777178464f2b7533366d754b414f476a4f444c665376674979765948706d712f70644d6b63714c73344b6a504a535358526a5a347138686f364a2b51354267694657584774304a5379762f613348457468707652786a324241794a2f313047345132745458717832";
            var ecode
            window.location.href = domainurl + "/Loans/Dashboard?session=" + ecode;
            ViewData["empcodeData"]=id;

            }

      

</script>

 

    <script src="~/js/ProjectScript.js"></script>
</body>
</html>